<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <title>Photonic Conference</title>
    <meta name="description" content="photonic-conference">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
    <script src="https://npmcdn.com/aframe-animation-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-event-set-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-layout-component@3.0.1"></script>
    <script src="https://npmcdn.com/aframe-template-component@3.1.1"></script>
    <script src="static/js/set-image.js"></script>
    <script src="static/js/loader.js"></script>
    <script src="static/js/show-navigation.js"></script>
    <script src="static/js/arrow.js"></script>
    <script src="static/js/route.js"></script>
  </head>
</head>

<body>

    {% block header %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    
</body>
</html>
